server{
	listen     			8080
	server_name			donghong.com
	client_max_body		3M

	file50x				html/donghong/50x.html


	location /  {
		root			html/donghong/
		allowed_method	GET POST DELETE

		index			index.html
    }

	location /bin {
		root			html/donghong/bin

		index_auto		on
	}

	location /bin/ {
		root			html/donghong/bin/

		index_auto		on

		cgi				on
		upload			html/donghong/storage
	}

    location .ico {
		root			html
	}
}

server {
	listen     			9090
	server_name			donghyu2.com


	location /  {
		root			html/donghyu2;
		allowed_method	GET

		index_auto			on
    }

	location /bin/ {
		root			html/cgi-bin

		cgi				on
		upload			html/donghong/storage
	}

    location .ico {
		root			html
	}

	location .php {
		root html/cgi-bin

		rewrite			bin
	}

	location .perl {
		rewrite			bin
	}

	location .py {
		rewrite			bin
	}
}
